<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div id="image-container">
		<div id="background-image"></div>
	</div>
	<style>
		#background-image {
			position: fixed;
			bottom: 0;
			right: 0;
			opacity: 0.75;
			z-index: 999;
			width: min(20vw, 20vh);
			height: min(20vw, 20vh);
			overflow: hidden;
			background-image: url("/blog/assets/img/Chitanda-Eru.png");
			background-size: cover;
		}
	</style>
</body>
</html>